@CHARSET "US-ASCII";

BODY {
	font-size: 62.5%;
}

.left {
	position: absolute;
	left: 0px;
	width: 400px;
	top: 0px;
	bottom: 0px;
	background-color: gray;
	padding: 5px;
}

.right {
	position: absolute;
	left: 400px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: gray;
	padding: 5px;
}

.input-container,
.output-container {
	position: absolute;
	top: 35px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

.output-container {
	top: 5px;
}

TEXTAREA#input {
	height: 100%;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

line.edge-line {
	stroke: black;
	stroke-width: 2px;
}

line.edge-line-select {
	stroke-width: 10px;
}

.edas-graph-state-select line.edge-line-select,
.edas-graph-state-delete line.edge-line-select {
	stroke-opacity: 0.0;
	stroke: black;
}

.edas-graph-state-select line.edge-line-select:hover {
	stroke-opacity: 5.0;
	stroke: green;
}

.edas-graph-state-delete line.edge-line-select:hover {
	stroke-opacity: 5.0;
	stroke: red;
}

circle {
	fill: blue;
}

.edas-graph-state-delete circle:hover {
	fill: red;
}

text {
	text-anchor: middle;
	dominant-baseline: central;
}